version: '3.8'

services:
  # APP (Django)
  web:
    container_name: cyber_django
    build: ./app
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - .env.dev
    depends_on:
      - db

  db:
    container_name: cyber_db
    image: postgres:16.2-alpine3.19
    env_file:
      - .env.dev
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=cyber
      - POSTGRES_PASSWORD=Cyber_Dev@2024
      - POSTGRES_DB=cyber_dev
    
  # Redis
  redis:
    image: redis:7.2.4-alpine
  
  # WORKER (Celery)
  worker:
    container_name: cyber_celery
    build:
      context: ./app
      dockerfile: Dockerfile
    command: celery -A proj worker --pool=prefork --concurrency=10 --loglevel=info
    volumes:
      - ./app/:/usr/src/app/
    env_file:
      - .env.dev
    depends_on:
      - redis

  # OWASP ZAP
  zap:
    container_name: owasp_zap
    image: owasp/zap2docker-stable
    command: zap.sh -daemon -host 0.0.0.0 -port 8080 -config api.disablekey=true -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true -config api.key= -config scanner.attackOnStart=true -config view.mode=attack
    ports:
      - "8080:8080"

volumes:
  postgres_data: