version: '3.8'

services:
    traefik:
      container_name: traefik
      image: traefik:v2.6
      command:
          - "--api.insecure=true"
          - "--providers.docker=true"
          - "--entrypoints.web.address=:80"
          - "--entrypoints.websecure.address=:443"
          - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
          - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
          - "--certificatesresolvers.myresolver.acme.email=parimal.patel@technostacks.com"
          - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
          - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
          - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      ports:
          - "80:80"
          - "443:443"
          - "8080:8080"
      volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - ./letsencrypt:/letsencrypt  # Store ACME data in a folder at the root level
      networks:
          - web

    django:
        container_name: api
        build:
          context: ./app
        command: gunicorn -b 0.0.0.0:8001 proj.wsgi:application --log-file - --capture-output
        ports:
            - "8001:8001"
        volumes:
            - ./app:/app
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.django.rule=Host(`<domain>`)"
            - "traefik.http.routers.django.entrypoints=websecure"
            - "traefik.http.routers.django.service=django"
            - "traefik.http.services.django.loadbalancer.server.port=8001"
            - "traefik.http.routers.django.tls=true"
            - "traefik.http.routers.django.tls.certresolver=myresolver"
        networks:
            - web

    nginx:
        build:
          context: ./nginx
        container_name: nginx
        volumes:
            - ./app/staticfiles:/usr/share/nginx/html/drf/staticfiles
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nginx.rule=Host(`<domain>`) && PathPrefix(`/`)"
            - "traefik.http.routers.nginx.entrypoints=websecure"
            - "traefik.http.routers.nginx.tls.certresolver=myresolver"
        networks:
            - web

networks:
    web:
        driver: bridge