version: '3.3'

services:
  # APP (Django)
  web:
    container_name: cyber_django
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
  
  db:
    image: postgres:13.0-alpine
    env_file:
      - ./.env.dev
    environment:
      - POSTGRES_USER=cyber_db
      - POSTGRES_PASSWORD=Cyber@001
      - POSTGRES_DB=cyber_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  # MQ BROKER (RabbitMQ)
  rabbitmq:
    container_name: cyber_rabbitmq
    image: rabbitmq:3-management
    env_file:
      - ./.env.dev
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia/guest@guest
    ports:
      - "5672:5672"
      - "15672:15672"
  
  # WORKER (Celery)
  worker:
    container_name: cyber_celery
    build:
      context: ./app
      dockerfile: Dockerfile
    command: celery -A proj worker
    volumes:
      - ./app/:/usr/src/app/
    env_file:
      - ./.env.dev
    depends_on:
      - rabbitmq
  

volumes:
  postgres_data:
  rabbitmq_data: