version: '3.8'

services:
  # APP (Django)
  web:
    container_name: cyber_django
    build:
      context: ./app
      dockerfile: Dockerfile.beta
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    expose:
      - 8000
    env_file:
      - .env.beta
    
  # Redis
  redis:
    image: redis:7.2.4-alpine
  
  # WORKER (Celery)
  worker:
    container_name: cyber_celery
    build:
      context: ./app
      dockerfile: Dockerfile.beta
    command: celery -A proj worker --pool=prefork --concurrency=20 --loglevel=info
    volumes:
      - ./app/:/usr/src/app/
    env_file:
      - .env.dev
    depends_on:
      - redis

  # OWASP ZAP
  zap:
    container_name: owasp_zap
    image: owasp/zap2docker-stable
    command: zap.sh -daemon -host 0.0.0.0 -port 8080 -config api.disablekey=true -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true -config api.key= -config scanner.attackOnStart=true -config view.mode=attack
    ports:
      - "8080:8080"
    expose:
      - 8080

volumes:
  static_volume:
  media_volume:
  postgres_data: