Django
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
psycopg2-binary
pluralizer
django-ssl-smtp
commitizen
pre-commit
commitlint
pillow
coverage
google-api-python-client
django-ssl-smtp
pydantic
pydantic-settings
pydantic[email]
drf-spectacular

# dev
ruff
ipython==8.27.0
flake8
flake8-pyproject