Django
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
psycopg2-binary
pluralizer
django-ssl-smtp
commitizen
ruff
pre-commit
commitlint
pillow
coverage